// base colors
$black: hsla(0, 0%, 0%, 0.849);
$black-footer: hsla(0, 0%, 15%, 0.849);
$grey: rgb(129, 123, 123);
$grey-hover: rgb(189, 182, 182);
$dark-grey: rgb(51, 51, 51);
$h1-color: rgb(175, 175, 175);
$p-grey: rgb(175, 175, 175);

// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
